<%= form_for @word, remote:"true" do |f| %>
<div class="mb-3">
    <%= f.text_field :word, class:"form-control mb-2",placeholder:"Word", required:true %>
    <%= f.select :word_category_id, options_from_collection_for_select(WordCategory.all, 'id', 'name'),{:prompt =>"Select Word Category"},class:"form-control mb-2",required:true %>
    <%= f.text_area :word_word_description, class:"form-control mb-2",placeholder:"Word Description", required:true %>
    <%= f.text_field :word_link, class:"form-control mb-2 text-primary",placeholder:"Source Link" %>
</div>

<!-------------form buttons-------------------->
  <div class="d-flex flex-row mt-2">
    <div class="flex-fill">
        <span class="btn btn-outline-danger form-control" data-bs-dismiss="modal">Cancel</span>
    </div>
    <div class="flex-fill">
    <%= f.submit "Add", disable_with: 'Adding...',class:"btn btn-outline-success form-control" %>
    </div>
  </div>
  <!---------------------#########################-------------------------->
<% end %>